div {
    text-align: center;
}
.gallery{
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
    float: left;
    border: lightsteelblue 5px solid;
    text-align: center;
    width: 30%;
}
.gallery img{
   /* width: 150px; это было для первого задания
    height: 150px;*/
    border-radius: 50%;
    border: #ff7f50 5px solid;

;
}